@import "tailwindcss";



@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }

  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}
@theme {
  /* Define the keyframes */
  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }

  /* Define the utility class name */
  --animate-marquee: marquee 2s linear infinite;
}

  
